### Линейный поиск

In [8]:
l = [1, 25, 73, 100, 999]
target = 74

In [7]:
for i in range(len(l)):
    if l[i] == target:
        print(i)
        break

4

In [9]:
for i in range(len(l)):
    for j in range(i, len(l)):
        if l[i] + l[j] == target:
            print((i, j))

(0, 2)

In [42]:
l = [1, 25, 73, 100, 999]
target = 74

val2id = {}
for i in range(len(l)):
    val2id[l[i]] = i
    
for i in range(len(l)):
    need = target - l[i]
    
    if need in val2id:
        print((i, val2id[need]))
        break

(0, 2)

In [41]:
val2id[1]

0

In [34]:
d[5] = 10

In [36]:
d[5]

10

In [10]:
l.append(10)

In [11]:
l

[1, 25, 73, 100, 999, 10]

In [12]:
l.insert(3, 66)

In [13]:
l

[1, 25, 73, 66, 100, 999, 10]

4

In [5]:
from math import log2

In [14]:
N = 10_000_000

log2(N)

23.253496664211536

### set

In [18]:
set1 = {234, 2, 3, 10, 15}
list1 = [234, 2, 3, 10, 15]

In [19]:
2 in list1  # O(N)

True

In [ ]:
2 in set1  # O(?)

In [21]:
hash("Ahmedushka")

-2966851329104517405

In [22]:
set2 = set(list1)

### dict

In [23]:
d = {
    10: 1,
    12: 4,
    17: 5,
}

In [24]:
d[10]

1

In [25]:
10 in d  # O(1)

True

In [26]:
d[0]

KeyError: 0

In [28]:
d.get(0, 1)

1

### Функции

In [46]:
l1 = [1, 2, 3, 4, 10]
s1 = 0
for num in l1:
    s1 += num
print(s1)

20

In [47]:
l2 = [2, 2, 3, 4, 20]
s2 = 0
for num in l2:
    s2 += num
print(s2)

31

In [65]:
l3 = [3, 3, 3, 4, 30]
s3 = 0
for num in l3:
    s3 += num
print(s3)

43

In [73]:
def sum_(list_):
    s = 0
    for num in list_:
        s += num
        
#     print(s)
    return s

In [77]:
s = sum_(l1)
print(s)

20

In [78]:
a = 10
b = 12
if a > b:
    print(a)
else:
    print(b)

12

In [101]:
def gr_return(a, b):
    if a > b:
        return (a, b)
    else:
        return (b, a)

In [104]:
c = gr_return(a, b)

In [106]:
round(3.2342341394, 2)

3.23

In [116]:
?round

In [108]:
def pow_(a, b):
    return a**b

In [109]:
pow_(5, 2)

25

In [110]:
pow_(2, 5)

32

In [111]:
?pow_

In [112]:
pow_(
    a=5,
    b=2,
)

25

In [113]:
pow_(b=2, a=5)

25

In [114]:
pow_(5, b=2)

25

In [115]:
pow_(a=5, 2)

SyntaxError: positional argument follows keyword argument (<ipython-input-115-98a22b7c7f3c>, line 1)

In [133]:
def power(base: int, degree: int) -> int:
    """
    This function calculate base^power.
    Input:
        base: int
        degree: int
    Output: int
    """
    return base**degree

In [ ]:
int, float, bool, None, str

In [129]:
def multiply(a: float, b: float):
    return a * b

In [130]:
?multiply

In [131]:
multiply(2, 5)

10

In [132]:
multiply("ljkasdfjklasdf", 5)

'ljkasdfjklasdfljkasdfjklasdfljkasdfjklasdfljkasdfjklasdfljkasdfjklasdf'

In [134]:
from typing import List, Tuple, Set, Dict, Any, Optional, Union

# Dict[str, int]
# Any
# Optional[str] ~ Union[str, None]

In [135]:
def multiply(a: Union[int, float], b: Union[int, float]):
    return a * b

In [ ]:
def my_sum(list_: List[int], degree: Optional[int]):
    s = 0
    for num in list_:
        s += num
        
    return s

In [136]:
x = None

In [137]:
x is None

True

In [148]:
def power(base: int, degree: int = 2) -> int:
    """
    This function calculate base^power.
    Input:
        base: int
        degree: int
    Output: int
    """
    return base**degree

In [150]:
l = [1, 2]
x, y = l

In [151]:
x

1

In [152]:
y

2

In [147]:
power(5)

25

In [145]:
power(base=5)

25

In [144]:
power(base=5, degree=3)

125

In [138]:
power(5, 2)
power(7, 2)
power(10, 2)
power(12, 2)
power(16, 2)
power(25, 2)
power(35, 2)
power(55, 2)

power(10, 3)

3.23

In [139]:
round(3.2342314)power

3